# This file should contain only rules that are specific to this project. For
# ignoring OS and IDE metadata files, please configure a global gitignore on
# in your development environment:
# https://github.com/palantirnet/development_documentation/blob/master/guidelines/git/gitignore.md

# Ignore Drupal site files
web/*/docroot/sites/*/files

# Ignore sites.php files
web/*/docroot/sites/sites.php

# Ignore virtual environment and artifacts
.vagrant/
/artifacts/

# Ignore Drupal contrib downloaded by Composer
drush/contrib
web/d8*/docroot/core
web/d8*/docroot/modules/contrib
web/d8*/docroot/themes/contrib/
web/d8*/docroot/profiles/contrib/
web/d9*/docroot/core
web/d9*/docroot/modules/contrib
web/d9*/docroot/themes/contrib/
web/d9*/docroot/profiles/contrib/


# Ignore regular Composer dependencies
/vendor/
/web/*/vendor

# Ignore npm dependencies
node_modules/
npm-debug.log

# Ignore generated CSS
*.sass-cache/
styleguide/*.sass-cache/
styleguide/source/code/css/*.css

# Ignore sculpin output
styleguide/output_dev/
styleguide/output_prod/

# Ignore PhpStorm
.idea

# Ignore Federated Field module symlinks
/src/search_api_federated_solr
/src/search_api_federated_solr-7.x
/src/search_api_field_map
/src/search_api_field_map-7.x
