/**
 * Custom search override styles.
 */

.block-page-title-block {
  display: none;
}

/**
 * Search filters
 */
/* The container for the search filters */
aside.l-25-75--1 {
  background-color: white;
  width: 30%;
  margin-left: 0; }

#root div.l-25-75--2 {
  width: 65%;
}

#root .container {
  width: 100%;
}

/* Search filters */
.search-filters {
  /* Mobile search button / Desktop sidebar title */
  /* Search filters clear button */ }
.search-filters__trigger, .search-filters__title {
  color: #333;
  font-size: 1.1em;
  line-height: 1.46667em; }
.search-filters__reset {
  background-color: #e5e5e5;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: .8em;
  line-height: 1.83333em; }
.search-filters__reset:active, .search-filters__reset:hover, .search-filters__reset:focus {
  background-color: #d8d8d8;
  border-color: #b5b5b5;
  text-decoration: underline; }

#content h2.search-filters__title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8px;
}

.search-filters {
  background-color: #f3f3f3;
  padding-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

#solr-list-facet-sm_site_name .search-accordion__title {
  font-size: 0.9em;
  color: #0d57aa;
}

/* Search filter accordion */
.search-accordion {
  color: #333;
  padding: 0;
  /* Top level accordion links */ }
.search-accordion__title {
  color: #0d57aa;
  border-bottom: 1px solid #e5e5e5;
  font-size: .8em; }
.search-accordion__title:active, .search-accordion__title:hover {
  color: #002a5b;
  background-color: #e5e5e5;
  border-color: #b5b5b5;
  text-decoration: none; }
.search-accordion__title:focus, .search-accordion__title.js-search-accordion-open {
  color: #0d57aa;
  border-color: #b5b5b5;
  text-decoration: none; }

.search-accordion__group, .region-content ul.search-accordion__group, .region-content ul.search-results {
  padding: 0;
}

.region-content ul.search-accordion__content {
  padding: 0 1.25em 0 1.25em;
}

/**
 * Search form
 */
#root .search-form {
  display: block;
}
.search-form__label {
  color: #222;
  font-size: .8em;
  line-height: 1.83333em; }

.search-form__input {
  border-radius: 3px 0 0 3px;
  border: 1px solid #e5e5e5;
  margin: 0;}
.search-form__input:focus {
  border: 1px solid #555;
  outline: 0; }

button.search-form__submit, button.search-form__submit:active, button.search-form__submit:hover {
  /* background-color: #ffcb05 !important; */
  border-radius: 0 3px 3px 0 !important;
  border: 1px solid #009 !important;
  display: flex !important;
  border-color: #009!important;
  background-color: #36c; !important;
  height: 34px;
  width: 40px;
}
.search-form__submit svg {
  fill: #fff !important; }
.search-form__submit:active, .search-form__submit:hover, .search-form__submit:focus {
  background-color: #66f; !important;
  border-color: #009 !important; }
.search-form__submit:active svg, .search-form__submit:hover svg, .search-form__submit:focus svg {
  background-color: #66f; !important;
  border-color: #009 !important;
  fill: #fff !important; }

/**
 * Autocomplete styles
 */
.search-form__autocomplete-container .react-autosuggest__input {
  padding: .35em !important;
  min-width: auto !important;
  margin: 0 !important;
}

.search-form__autocomplete-container .react-autosuggest__input:focus {
  border-width: 1px;
}

.search-form__autocomplete-container  .react-autosuggest__suggestions-container.react-autosuggest__suggestions-container--open {
  top: 45px;
}

.search-form__autocomplete-container .search-form__submit {
  padding: .35em .6em;
}

/**
 * Applied Filters
 */
.applied-filters__filter {
  border-bottom: solid 2px #ffcb05;
  font-size: .8em;
  line-height: 1.46667em;
  padding-bottom: .29333em; }

/**
 * Search results list
 */
.search-results {
  /* Search results eyebrow (i.e. the content type). */
  /* Search results metadata (i.e. the site + date) */
  /* Search result snippet text */
  /* highlighted text in snippet */ }
.search-results__heading a {
  background-color: transparent;
  color: #0d57aa;
  text-decoration: none;
  border-bottom: 1px solid #0d57aa; }
.search-results__heading a:active, .search-results__heading a:hover {
  outline-width: 0;
  color: #002a5b;
  background-color: #e5e5e5;
  border-bottom: 2px solid #002a5b;
  text-decoration: none;
}
.search-results__label {
  color: #555;
  font-size: .8em; }
.search-results__meta {
  color: #555;
  font-size: .8em;
  line-height: 1.46667em; }
.search-results__teaser {
  font-size: 18px;
  line-height: 1.3; }
.search-results em {
  font-weight: 700;
  background-color: rgba(255, 242, 192, 0.85); }


/**
 DatePicker widget
 */

.DateRangePicker button, .DateRangePicker [type='button'] {
  background-color: transparent;
  border: inherit;
  padding: inherit;
  border-radius: inherit;
  font-size: inherit;

}

.DayPickerNavigation_button {
  padding: 0.2em;
  background-color: lightgrey;
  border: darkgrey 1px solid;
}

.PresetDateRangePicker_button {
  border: 2px solid #4696f1;
  color: #4696f1; }

.PresetDateRangePicker_button__selected {
  color: #fff;
  background: #4696f1; }

.DayPickerKeyboardShortcuts_show__bottomRight {
  border-top: 26px solid transparent !important;
  border-right: 33px solid #0d57aa !important; }

.DayPickerKeyboardShortcuts_show__bottomRight:hover {
  border-right: 33px solid #083363 !important; }

.DayPickerKeyboardShortcuts_show__topRight {
  border-bottom: 26px solid transparent !important;
  border-right: 33px solid #0d57aa !important; }

.DayPickerKeyboardShortcuts_show__topRight:hover {
  border-right: 33px solid #083363 !important; }

.DayPickerKeyboardShortcuts_show__topLeft {
  border-bottom: 26px solid transparent !important;
  border-left: 33px solid #4696f1 !important; }

.DayPickerKeyboardShortcuts_show__topLeft:hover {
  border-left: 33px solid #00274c !important; }

.CalendarDay__selected_span {
  background: #ebf4fe;
  border: 1px solid #75b1f4;
  color: #0d57aa; }

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: #d8d8d8;
  border: 1px solid #b5b5b5;
  color: #fff; }

.CalendarDay__last_in_range {
  border-right: #4696f1; }

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #0d57aa;
  border: 1px solid #0d57aa;
  color: #fff; }

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  background: #ebf4fe;
  border: 1px solid #75b1f4;
  color: #0d57aa; }

.CalendarDay__hovered_span:active {
  background: #ebf4fe;
  border: 1px solid #75b1f4;
  color: #0d57aa; }

.DateInput_input__focused {
  border-bottom: 2px solid #0d57aa; }

.CalendarDay__highlighted_calendar {
  background: #fff2c0;
  color: #555; }

.CalendarDay__highlighted_calendar:active,
.CalendarDay__highlighted_calendar:hover {
  background: #ffcb05;
  color: #555; }

.DateRangePickerInput__showClearDates {
  padding-right: 27px!important;
}
.DateInput_input::placeholder {
  color: #555; }

.DayPicker_weekHeader_li {
  display: inline-block !important; }

.DateRangePickerInput_clearDates_default {
  padding: 6px !important;
  border: none !important;
}
.DateRangePickerInput_clearDates_default:focus,
.DateRangePickerInput_clearDates_default:hover {
  border-radius: 0; }

@media only screen and (max-width: 1350px) and (min-width: 901px) {
  .DateInput_input__small {
    font-size: 12px;
    font-family: Helvetica,Arial,Nimbus Sans L,sans-serif;
    line-height: 18px;
    padding: 8px 4px 6px; }
  .DateInput__small {
    width: 70px; } }

.KeyboardShortcutRow_keyContainer {
  display: inline-block;
  white-space: nowrap;
  text-align: right;
  margin-right: 6px; }

.KeyboardShortcutRow_key {
  font-family: monospace;
  font-size: 12px;
  text-transform: uppercase;
  background: #f6f6f6;
  padding: 2px 6px; }

.KeyboardShortcutRow_action {
  display: inline;
  word-break: break-word;
  margin-left: 8px; }
