# Ignore Drupal settings and files
settings.php
services.yml
!conf/drupal/settings.php
!conf/drupal/services.yml
web/sites/*/files

# Ignore Drupal contrib downloaded by Composer
web/misc
web/includes
web/themes
web/profiles
web/modules
web/scripts

# Ignore regular Composer dependencies
/vendor/

# Ignore generated CSS
*.sass-cache/
styleguide/*.sass-cache/
styleguide/source/code/css/*.css

# Ignore sculpin output
styleguide/output_dev/
styleguide/output_prod/